.history-item {
  font-size: 18px;
  background-color: #f4f6f6;
  -webkit-box-shadow: -2px 3px 5px 0px #dedede;
  -moz-box-shadow: -2px 3px 5px 0px #dedede;
  box-shadow: -2px 3px 5px 0px #dedede;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 5px 10px;
}